@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #151515;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: sticky;
}

header {
  width: 100%;
}
header .content {
  background-color: #373a40;
  min-height: 80px;
  width: 100%;
}
header .content .menu-container {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  align-items: center;
  justify-content: space-between;
}
header .content .menu-container .logo {
  position: relative;
  top: 10px;
  width: 90px;
  height: 90px;
  border-radius: 20px;
  z-index: 2;
}
header .content .menu-container #menu {
  display: none;
}
header .content .menu-container label {
  display: none;
  cursor: pointer;
}
header .content .menu-container label i {
  font-size: 30px;
}
header .content .menu-container .navbar ul li {
  position: relative;
  float: left;
  list-style: none;
}
header .content .menu-container .navbar ul li a {
  font-size: 18px;
  padding: 20px;
  color: #eeeeee;
  text-decoration: none;
  display: block;
  font-weight: 600;
}
header .content .menu-container .navbar ul li a:hover {
  color: #dc5f00;
}
@media screen and (max-width: 769px) {
  header .content {
    min-height: 80px;
  }
  header .content .menu-container {
    top: 0;
    padding: 0 20px;
    width: 100%;
  }
  header .content .menu-container label {
    display: initial;
  }
  header .content .menu-container #menu:checked ~ .navbar {
    display: initial;
  }
  header .content .menu-container .navbar {
    position: absolute;
    width: 100%;
    top: 90%;
    left: 0px;
    right: 0;
    border-radius: 20px;
    background: #373a40;
    display: none;
    text-align: center;
    z-index: 1;
  }
  header .content .menu-container .navbar ul li {
    width: 100%;
  }
}

main section {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main section .informacion {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  border: 3px solid #A91D3A;
  border-radius: 10px;
  background: #686d76;
  box-shadow: 5px 5px 10px #a91d3a;
}
main section .informacion h1 {
  font-size: 3rem;
  width: 90%;
  color: #eeeeee;
  text-transform: uppercase;
  text-shadow: 5px 5px 10px black;
}
main section .informacion p {
  font-size: 16px;
  font-weight: 600;
  color: #eeeeee;
  text-shadow: 5px 5px 10px black;
}
main section .container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
main section .container .tarjeta {
  margin-top: 50px;
  margin-bottom: 50px;
  background: linear-gradient(45deg, yellow, orange, red);
  width: 30%;
  display: flex;
  flex-direction: column;
  text-align: center;
  list-style: circle;
  list-style-position: inside;
  border-radius: 20px;
  justify-content: space-between;
  box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.5);
  animation: rotacion 10s 10s 2 linear;
}
main section .container .tarjeta .title h2 {
  color: #eeeeee;
  text-transform: uppercase;
  font-size: 2.5rem;
  text-shadow: 5px 5px 10px black;
}
main section .container .tarjeta .title p {
  font-weight: 600;
  color: #eeeeee;
  text-shadow: 5px 5px 10px black;
}
main section .container .tarjeta .data {
  margin-top: 10px;
}
main section .container .tarjeta .data h4 {
  color: #eeeeee;
  font-size: 1.5rem;
  text-shadow: 5px 5px 10px black;
}
main section .container .tarjeta .data ul li {
  font-size: 16px;
  font-weight: 600;
  margin: 10px 0;
}
main section .container .tarjeta .precios h3 {
  color: #eeeeee;
  font-size: 1.5rem;
  text-shadow: 5px 5px 10px black;
}
main section .container .tarjeta .precios ul li {
  font-size: 16px;
  font-weight: 600;
}
@media screen and (max-width: 769px) {
  main section {
    display: flex;
  }
  main section .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main section .container .tarjeta {
    width: 90%;
    padding: 10px 0;
  }
}

footer {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  padding: 30px 0;
  background: #373a40;
}
footer .logo-footer {
  display: flex;
  justify-content: center;
  align-self: center;
}
footer .logo-footer img {
  width: 100px;
  height: 100px;
  border-radius: 20px;
  position: relative;
  bottom: 10px;
  left: 20px;
}
footer .info-1 {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
footer .info-1 .data-1 {
  display: flex;
  flex-direction: column;
}
footer .info-1 .data-1 h3 {
  font-size: 24px;
  color: #eeeeee;
  margin-bottom: 20px;
}
footer .info-1 .data-1 a {
  text-decoration: none;
  color: #dc5f00;
  margin: 5px 0;
  font-size: 18px;
  font-weight: 600;
}
footer .info-1 .data-2 {
  display: flex;
  flex-direction: column;
}
footer .info-1 .data-2 h3 {
  font-size: 24px;
  color: #eeeeee;
  margin-bottom: 20px;
}
footer .info-1 .data-2 a {
  text-decoration: none;
  color: #dc5f00;
  margin: 5px 0;
  font-size: 18px;
  font-weight: 600;
}
footer .info-2 {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
footer .info-2 .data-3 {
  display: flex;
  flex-direction: column;
}
footer .info-2 .data-3 h3 {
  font-size: 24px;
  color: #eeeeee;
  margin-bottom: 20px;
}
footer .info-2 .data-3 a {
  text-decoration: none;
  color: #dc5f00;
  margin: 5px 0;
  font-size: 18px;
  font-weight: 600;
}
footer .info-2 .data-4 {
  display: flex;
  flex-direction: column;
}
footer .info-2 .data-4 h3 {
  font-size: 24px;
  color: #eeeeee;
  margin-bottom: 20px;
}
footer .info-2 .data-4 a {
  text-decoration: none;
  color: #dc5f00;
  margin: 5px 0;
  font-size: 18px;
  font-weight: 600;
}
@media screen and (max-width: 769px) {
  footer {
    display: flex;
    flex-direction: column;
  }
  footer .logo-footer {
    height: 200px;
    display: flex;
    align-items: center;
    position: relative;
    right: 20px;
  }
  footer .info-1 {
    display: flex;
    width: 100%;
  }
  footer .info-1 .data-1 {
    width: 50%;
    text-align: center;
  }
  footer .info-1 .data-2 {
    width: 50%;
    text-align: center;
  }
  footer .info-2 {
    display: flex;
    width: 100%;
    margin: 30px 0;
  }
  footer .info-2 .data-3 {
    width: 50%;
    text-align: center;
  }
  footer .info-2 .data-4 {
    width: 50%;
    text-align: center;
  }
}

@keyframes rotacion {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

/*# sourceMappingURL=paquetes.css.map */
