// colores
$ColorPrimario: #373a40;
$ColorSecundario: #686d76;
$ColorTexto: #eeeeee;
$ColorTextoSecundaio: #dc5f00;
$ColorBg: #151515;
$ColorBorder: #A91D3A;

// tamanos
$breakpoints: (
    sm : 480px,
    md : 769px,
    lg : 1279px
);